<nav>
  <div class="nav-logo">
    <h1>venom</h1>
    <p>{{ version }}</p>
  </div>
  <div class="nav-links">
    <a id="nav-link" class="btn" href="/home">[{{ get("navbar.home") }}]</a>
    <a id="nav-link" class="btn" href="/data">[{{ get("navbar.data") }}]</a>
    <a id="nav-link" class="btn" href="/files">[{{ get("navbar.files") }}]</a>
    <a id="nav-link" class="btn" href="/build">[{{ get("navbar.build") }}]</a>
    <a id="nav-link" class="btn" href="/logout">[{{ get("navbar.logout") }}]</a>
  </div>
  <script src="/js/navbar.js"></script>
</nav>
